@import "../../variables";

.playerListTable {
  width: 100%;
  border-collapse: collapse;

  &Header {
    font-weight: $font-weight-bold;
    border-bottom: 1px solid $light-gray;
  }

  &Content {
    font-weight: $font-weight-semi-bold;

    tr {
      position: relative;
      td {
        padding: 8px 0;
      }
    }
  }

  &Pagination {
    list-style: none;
    cursor: pointer;
    border-top: 1px solid $light-gray;

    ul {
      padding-inline-start: 0;

      li {
        display: inline-block;
        padding: 0 10px;
      }
    }

    .active {
      font-weight: $font-weight-bold;
      text-decoration: underline;
    }

    .inactive {
      color: $link-text;
    }
  }
}
